<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: auto;
        text-align: center;
        color: black;
      }
      .box {
        margin: auto;
        border: 1px solid gainsboro;
        padding: 10px;
        width: 500px;
        height: 200px;
        margin-top: 50px;
        border-radius: 2px;
        background: whitesmoke;
        color: black;
      }

      div {
        /* Add some styling to the div elements */
        /* border: 1px solid #080505; */
        padding: 10px;
        margin-top: 20px;
        text-align: center;
      }

      h1 {
        color: rgb(102, 100, 100);
      }

      h3 {
        /* margin-top: 10px; */
        background-color: white;
        height: 12px;
        width: 60px;
        margin: auto;
        text-align: center;
        padding: 15px;
        border: 1px solid rgb(189, 185, 185);
        border-radius: 14px;
        align-items: center;
      }

      h3:hover {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <!-- style="background-image: url('/email4.png');background-repeat: no-repeat;margin: auto;" class="box" -->
    <div class="box">
      <div>
        <h1>Here Is Your OTP!</h1>
      </div>
      <div class="center-content">
        <h3>
          <b> <%= otp %> </b>
        </h3>
      </div>
    </div>
  </body>
</html>
